@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  /* BUTTONS  */
  .btn-primary {
    @apply 
    text-white 
    bg-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 
    focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
    font-medium 
    rounded-lg 
    px-5 
    py-2.5 
    text-center ;
  }

  .nav-link{
    @apply 
    block rounded-lg
    px-4 py-2 md:py-2 
    font-medium
    md:hover:text-blue-600
    md:hover:bg-gray-200;
  }

  .site{
    @apply 
    font-light 
    text-sm md:text-base 
    text-gray-900 dark:text-white 
    bg-white dark:bg-gray-900 ;
  }

  .inner-section-default{
    @apply 
    max-w-screen-xl 
    mx-auto 
    px-4 md:px-16;
  }

  .title{
    @apply 
    tracking-tight 
    font-extrabold
    text-2xl md:text-4xl;
  }

  .description{
    @apply
    text-gray-500 dark:text-gray-400
    text-justify;
  }

  .default-gap{
    @apply
    gap-8 md:gap-12 lg:gap-16;
  }

  hr{
    @apply
    w-64 
    h-1 
    mx-auto 
    my-12 md:my-20
    bg-gray-100 dark:bg-gray-700
    border-0 rounded;

  }

}

